*{
    margin: 0;
    padding: 0;
}
.container1{
    background-image: url("cc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height:100%;

}
.value{
    cursor: pointer;
}
.pageFront{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pageFront h2{
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: #fff;
}

.pageFront p{
    opacity: 0.4;
    text-align: center;
    margin: 10px;
    padding: 30px;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    width: 75%;
    color: #000;
}

.box{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.value{
    margin: 15px;
    padding: 15px;
    border: 0.5px solid #ddd;
    border-radius: 15px;
}
#output{
    margin: 50px;
    display: flex;
    align-items: main-end;
    justify-content: center;
    color: #fff;
}
#pred{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}